Project Workspace/.metadata/.plugins/org.eclipse.pde.core/Eclipse Application/org.eclipse.osgi/149/0/.cp/javadoc/org/eclipse/emf/cdo/expressions/provider/StaticAccessItemProvider.html
runtime-EclipseApplication/.metadata/
Project Workspace/behaviouralProgramMM/bin/
Project Workspace/StructuralProgramMM/bin/
Project Workspace/CodeGenRunner/bin/
Project Workspace/.metadata/
Project Workspace/ProgramCodeGenerator/bin/
Project Workspace/behaviouralProgramMM.edit/
Project Workspace/behaviouralProgramMM.tests/
Project Workspace/behaviouralProgramMM.editor/
Project Workspace/StructuralProgramMM.tests/
Project Workspace/StructuralProgramMM.editor/
Project Workspace/StructuralProgramMM.edit/
Project Workspace/ProgramCodeGenerator/xtend-gen/programcodegenerator/codeGen/
